---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Blog" description="David's Blog Page">
	<section class="w-full max-w-screen-xl mx-auto px-4 justify-center flex flex-col py-16">
		<h2 class="text-xl md:text-3xl lg:text-5xl inline-block text-neutral-900 dark:text-neutral-100 font-bold text-center max-w-7xl">
			<span class="bg-gradient-to-r from-[#B16CEA] to-[#FFA84B] text-transparent bg-clip-text">BLOG</span>&nbsp;PAGE
		</h2>
	</section>	

	 
</Layout>
