---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Services" description="David's services page">
	<section class="w-full max-w-screen-xl mx-auto px-4 justify-center flex flex-col py-16">
		<p class="text-sm md:text-base lg:text-lg text-neutral-600 dark:text-neutral-300 mt-4 text-center max-w-3xl mx-auto">
			CONTACT PAGE
		</p>
	</section>	

	 
</Layout>
